body {
  padding: 0;
  margin: 0;
  background-color: #151515;
}

nav {
  background: #151515;
  padding: 16px 32px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Fix the navbar at the top */
  top: 0; /* Ensure it stays at the top of the page */
  left: 0; /* Align to the left edge */
  right: 0; /* Align to the right edge */
  z-index: 1000; /* Ensure it stays above other content */
}

nav .logo img {
  height: 212px;
  transition: transform 0.3s ease-in-out;
}

nav .logo:hover img {
  transform: scale(1.1);
}

nav .logo:hover .logo {
  filter: hue-rotate(180deg); /* Change the color of the SVG image */
}

.menuItems {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}

.menuItems li {
  margin: 0 30px;
}

.menuItems a {
  text-decoration: none;
  font-family: revert-layer;
  color: #ffffff;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
  position: relative;

  &::before {
    content: attr(data-item);
    transition: 0.5s;
    color: #37b182;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
  }

  &:hover {
    &::before {
      width: 100%;
      transition: all 0.5s ease-in-out;
    }
  }
}

@media (max-width: 768px) {
  nav {
    padding: 16px 24px;
  }

  .menuItems {
    flex-direction: column;
    align-items: center;
  }

  .menuItems li {
    margin: 15px 0;
  }

  .menuItems a {
    font-size: 20px;
  }
}

/* Media query for very small devices (like portrait phones) */
@media (max-width: 480px) {
  .menuItems a {
    font-size: 18px;
  }
}
