
  
 .form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #37b182;
  }
 .form h2::after{
  content: "";
    display: block;
    margin: 10px auto;
    width: 375px;
    height: 4px;
    background-color: #37b182;
    margin: 0 auto;
    border-radius: 2px;
 } 
  
  .form form {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width:70%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form label {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .form input, textarea {
    background-color: #2a2a2a;
    border: 1px solid #37b182;
    color: #37b182;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
  }
  
  .form input:focus, textarea:focus {
    border-color: #37b182;
    box-shadow: 0 0 5px #37b182;
  }
  
  .form textarea {
    resize: vertical;
    height: 100px;
  }
  
  .form button {
    background-color: #37b182;
    color: #151515;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
  }
  
.form button:hover {
    background-color: #2e9e6f;
    color: black; /* Makes the text "Submit" turn black on hover */
}

.form button:hover #btnText {
    color: black;
    transition: color 300ms ease-in-out , color 300ms ease-in-out;
}

  
  .form p {
    text-align: center;
    color: #37b182;
    font-size: 14px;
  }
  
  /* -------------- */

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.container-send{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-send button{
    width: 270px;
    height: 80px;
    border: none;
    outline: none;
    background: #2f2f2f;
    color: #fff;
    font-size: 22px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.check-box{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    box-shadow: 0 0 12px -2px rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: -40px;
    opacity: 0;
}

.check-box svg{
    width: 40px;
    margin: 20px;
}

.container-send svg path{
    stroke-width: 3;
    stroke: #fff;
    stroke-dasharray: 34;
    stroke-dashoffset: 34;
    stroke-linecap: round;
}

.active{
    background: #ff2b75;
    transition: 1s;
}

.active .check-box{
    right: 0;
    opacity: 1;
    transition: 1s;
}

.active p{
    margin-right: 125px;
    transition: 1s;
}

.active svg path{
    stroke-dashoffset: 0;
    transition: 1s;
    transition-delay: 1s;
}