.con {
  min-height: 90vh;
  margin-top: 112px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: center;
  overflow: hidden;
  position: relative;
  background-image: url('../public/backg.png');
  background-size: cover;
  background-position: center;
  padding-left: 200px; 
}

.firstp {
  position: relative;
  font-size: 52px;
  font-weight: 600;
  width: 760px;
  text-align: left;
  overflow: hidden;
  margin-top: 115px;
}

.firstp .secondpart {
  color: #37b182;
  position: relative;
  display: inline-block;
  border-right: 2px solid #37b182; /* Adds a border around the text */
  padding: 5px; /* Adds spacing between the border and text */
}

.firstp .secondpart.blinking::after {
  display: block;
}

@keyframes blink {
  0%, 50% {
    opacity: 1; /* Border visible */
  }
  51%, 100% {
    opacity: 0; /* Border invisible */
  }
}

.buttons {
  text-align: left; 
  margin-top: 20px; 
  border-radius: 30px;
}

.blob-btn {
  z-index: 1;
  position: relative;
  padding: 20px 46px;
  text-align: center;
  text-transform: uppercase;
  color: #37b182;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 30px;
}

.blob-btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 99%;
    height: 94%;
  border: 2px solid #37b182;
  border-radius: 30px;
}

.blob-btn:after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 3px;
  top: 3px;
  width: 100%;
  height: 100%;
  transition: all 0.3s 0.2s;
  border-radius: 30px;
}

.blob-btn:hover {
  color: #FFFFFF;
  border-radius: 30px;
}

.blob-btn:hover:after {
  transition: all 0.3s;
  left: 0;
  top: 0;
  border-radius: 30px;
}

.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: #aaf3a3;
}

.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url("#goo");
}

.blob-btn__blob {
  position: absolute;
  top: 2px;
  width: 25%;
  height: 100%;
  background: #37b182;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}

@supports (filter: url("#goo")) {
  .blob-btn__blob {
    transform: translate3d(0, 150%, 0) scale(1.4);
  }
}

.blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
}

.blob-btn__blob:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
}

.blob-btn__blob:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}

.blob-btn__blob:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}

.blob-btn:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
}

@supports (filter: url("#goo")) {
  .blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(1.4);
  }
}
