.lesprojets {
  background-color: #151515;
  color: #37b182;
}

.projects-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.projects-heading {
  text-align: center;
  font-size: 2rem;
  color: #37b182;
  margin-bottom: 20px;
}

.projects-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-card {
  background-color: #202020;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.project-image {
  display: block;
  margin: 0 auto 15px;
}

.project-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.project-description,
.project-technologies {
  font-size: 1rem;
  margin-bottom: 10px;
}

.project-link {
  color: #37b182;
  text-decoration: underline;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.project-link:hover {
  color: #50e19b;
}
.projects-container img{
  width:100%;
 height: auto ;
 object-fit: 'cover';
  border-radius: 8px;
}